<!--<div class="row text-center">-->
    <!--<div class="small-12 columns">-->
        <!--<%- if devise_mapping.recoverable? %>-->
            <!--<%= link_to "Forgot your password?", new_password_path(resource_name), class: 'button tiny radius expand' %>-->
        <!--<% end -%>-->
    <!--</div>-->
<!--</div>-->
