<%= form_tag mailing_list_url, method: :post do %>
  <div class="small-8 columns"id="mailform">
    <%= text_field_tag :email %>
  </div>

  <%= submit_tag 'Submit', class: 'button small-4 columns submitButtonWelcome submitbuttonoverrides' %>
<% end %>
