
<div class="pricing">
  <div class="row pricingrowJS">
    <h1 class="text-center megaheader">Plans</h1>
    <h4 class="text-center">We offer 3 service levels for agents.</h4>
    <hr>
    <div class="">
      <ul class="pricing-table small-12 large-3 columns pt1">
        <li class="title">

          <h1 class="">Basic</h1>
        </li>
        <li class="price">Free</li>
        <li class="bullet-item period"><span style="color:transparent">free</span></li>

        <li class="description">Our basic plan is, and always will be, free. It is intended for you to learn the ropes of the HouseHound software suite.</li>
        <li class="bullet-item">2 listings</li>
        <li class="bullet-item">1 poster</li>
        <li class="bullet-item">3 photos/listing</li>
        <div class="hide-for-medium-down">
          <li class="bullet-item"><i class="fa fa-circle"></i></li>
        </div>
        <div class="hide-for-medium-down">
          <li class="bullet-item"><i class="fa fa-circle"></i></li>
        </div>
        <li class="cta-button"><a class="button expand" href="#">Activate Free Account</a></li>
      </ul>

      <ul class="pricing-table small-12 large-3 columns pt2">
        <li class="title">

          <h1 class="">Plus</h1>
        </li>
        <li class="price">$19<sup>.99</sup></li>
        <li class="bullet-item period">monthly + HST</li>
        <li class="description">Feature packed and ready to offer uncompromised utility. The plus package offers push notifications and analytics.</li>
        <li class="bullet-item">10 listings</li>
        <li class="bullet-item">3 posters</li>
        <li class="bullet-item">7 photos/listing</li>
        <li class="bullet-item">1 notification/week/listing</li>
        <li class="bullet-item">Basic Analytics</li>
        <li class="cta-button"><a class="button expand" href="#">Buy Now</a></li>
      </ul>

      <ul class="pricing-table  small-12 large-3 columns pt3 left">
        <li class="title">

          <h1 class="">Premium</h1>
        </li>
        <li class="price">$29<sup>.99</sup></li>
        <li class="bullet-item period">monthly + HST</li>
        <li class="description">HouseHound with no limits. Full featured with several poster types, extreme push notifications and a complete anaytics dashboard.</li>
        <li class="bullet-item">20 listings</li>
        <li class="bullet-item">5 posters</li>
        <li class="bullet-item">20 photos/listing</li>
        <li class="bullet-item">2 notification/day/listing</li>
        <li class="bullet-item">Full Analytics</li>
        <li class="cta-button"><a class="button expand" href="#">Buy Now</a></li>
      </ul>
    </div>
  </div>
</div>
