<%= form_tag '/access_code' do %>
<div class="small-8 columns"id="promoform">
  <%= text_field_tag :access_code %>
  </div>

  <%= submit_tag 'Submit', class: 'button small-4 columns submitButtonWelcome submitbuttonoverrides' %>
<% end %>
