<div class="row infobody">
  <%= render partial: 'layouts/pagetitle', :locals => {:titlestring=>"About Us"} %>
	<p class='infopara'>
	HouseHound was founded with the intention of creating new efficiency with respect to communication between Real Estate agents and prospective buyers and sellers.  We feel that by bringing our software to open houses, prospective buyers are more likely to communicate their interests in a potential purchase.
	</p>
	<p class='infopara'>
	The home buying process can be quite overwhelming. HouseHound, is designed to help buyers stay focused and organized.  We want to help buyers actively participate in open houses they attend and feel well informed after each visit. After the open house, HouseHound will let the user easily recall likes and dislikes from each open house attended.
	</p>
	<p class='infopara'>
	Our easy to use notification system allows Real Estate Agents, prospective Buyers and Sellers to easily communicate in a non-committal way.  By using notifications, Real Estate agents can inform prospective buyers of new information on the property without directly contacting each person.  Similarly, prospective buyers can express interest in a property without giving away their full position.
	</p>
	<p class='infopara'>
	Our mission is to easily connect buyers, sellers and Real Estate agents through the use of innovative technology.
	</p>
</div>
