<div class="row infobody">
  <%= render partial: 'layouts/pagetitle', :locals => {:titlestring=>"Brokers"} %>

    <h3 class="text-center">Welcome all brokers!</h3>
    <p class="infopara">Our team at HouseHound greatly values the integrity and organization that brokers bring to the real estate market. We have designed our platform to be as friendly as possible to large and small teams of agents and real estate professionals.<p>
    <p class="infopara">If would like to join our growing group of partners, reach out to us at info@househound.co or fill out the contact form found <a href="/contact">here</a>.</p>

</div>