<div class="row">
  <%= render partial: 'layouts/pagetitle', :locals => {:titlestring=>"Contact"} %>

  <div class="large-8 small-centered columns panel infobody">
    <h3>Send us an email, we'd love to hear from you:</h3>
    <p>For questions or comments regarding customer service or for general information regarding products or services, fill out the following form and one of our customer service agents will respond at the earliest availability!<p>
    <%= render 'contact_form' %>
  </div>
</div>