<div class="row infobody">
  <%= render partial: 'layouts/pagetitle', :locals => {:titlestring=>"Investors"} %>
<p class='infopara'>HouseHound is a privately held Corporation.  Private investment is welcome; please email investors@househound.co for further information.
</p>
</div>