<div class="row infobody">
  <%= render partial: 'layouts/pagetitle', :locals => {:titlestring=>"Legal"} %>
<p class='infopara'>
HouseHound is not a real estate brokerage and does not represent any buyers or any sellers of all transactions that take place as a result of products or services offered by HouseHound. HouseHound is a Product and Service offered by HouseHound.
</p>
<p class='infopara'>
By using Products or Services offered by HouseHound, you release HouseHound of liability and damages in all circumstances regarding any and all transactions that take place as a result of using HouseHound.  Inappropriate use of Products and Services offered by HouseHound is not a reflection of HouseHound and HouseHound assumes zero liability for damages caused by the inappropriate or misuse of Products and Services.
</p>
<p class='infopara'>
Listings on HouseHound may or may not be exclusive to the user who posted a listing, as such further use of a listing provided by HouseHound beyond the Products and Services offered is prohibited and may be followed by legal action.
</p>
<p class='infopara'>
HouseHound has no vested interest in any transaction that results from the use of Products and Services offered by HouseHound and should not be mentioned or named as a party to any transaction that results as a use of Products or Services offered by HouseHound.
</p>
</div>