<!--<ul class="pricing-table">-->
  <!--<li class="title">Free Plan</li>-->
  <!--<li class="price">Free (ALWAYS)</li>-->
  <!--<li class="description">Always free</li>-->
  <!--<li class="cta-button">-->
    <!--<h4>Currently Subscribed</h4>-->
  <!--</li>-->
<!--</ul>-->

    <li class="title">

      <h1 class="">Trial</h1>
    </li>
    <li class="price">Free</li>
    <li class="bullet-item period"><span style="color:transparent">free</span></li>

    <li class="description">Start with a trial: it is intended for you to learn the ropes of the HouseHound software suite.</li>
    <li class="bullet-item">3 listings</li>
    <li class="bullet-item">2 posters</li>
    <div class="hide-for-medium-down">
      <li class="bullet-item">Notifications disabled</li>
    </div>
    <div class="hide-for-medium-down">
      <li class="bullet-item">Basic Email Support</li>
    </div>
    <li class="cta-button"><a class="button expand" href="#">Activate Free Account</a></li>
