#openhousetable {
  .tablestyling {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    margin: 0;
  }
  .bodyrow {
    margin: 10px !important;
  }
  .tablestyle {
    display: block;
    background-color: #F9F9F9;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    margin: 0;
    width:100%;
    margin-bottom: 20px;
    -webkit-box-shadow: 4px 4px 25px -15px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 4px 4px 25px -15px rgba(0, 0, 0, 0.69);
    box-shadow: 4px 4px 25px -15px rgba(0, 0, 0, 0.69);
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .smalltablestyle {
    background-color: #F9F9F9;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 4px 4px 25px -15px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 4px 4px 25px -15px rgba(0, 0, 0, 0.69);
    box-shadow: 4px 4px 25px -15px rgba(0, 0, 0, 0.69);
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .tablestyle:hover {
    background-color: #F2F2F2;
  }
  td {
    text-align: center;
  }

  .titlestyle {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    font-style: italic;
    //display: block;
    th {
      font-weight: 400;
      color: grey;
    }
    thead {
      background: none;
    }
    background:none !important;
  }
  .smallbutton {
    font-size: 14px;
    background-color: #F9F9F9;
    color: black;
    -webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.59);
    box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.59);
    margin: 5px;
    padding: 12px;
    text-align: center;
  }
  .button {
    font-size: 14px;
    background-color: #F9F9F9;
    color: black;
    -webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.59);
    box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.59);
    margin: 0;
    padding: 12px;
    //margin-left:-40px;
    .fa {
      padding-right: 10px;
    }
    .fa-print {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .button:hover {
    -webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0);
    -moz-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0);
    box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0);
    outline: 1px solid;
    outline-color: #C9C9C9;
  }
  .smallbutton:hover {
    -webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0);
    -moz-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0);
    box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0);
    outline: 1px solid;
    outline-color: #C9C9C9;
  }
}