%table
  %thead
    %tr
      %th ID
      %th Email
      %th User Type
      %th Date Joined
      %th Confirmed?
      %th Activated?
  %tbody
    - @users.each do |user|
      %tr
        %td
          = user.id
        %td
          = user.email
        %td
          = user.role
        %td
          = user.active?
