<%= render 'layouts/pagetitle', { :titlestring => 'New Notification' } %>
<div class="row">
    <%= render 'form' %>
</div>
<div class="row">
  <div class="infopara">
    <p class="newh3"> EXAMPLES: </p>

    <ul>
      <li>
        “Price Change”
      </li>
      <li>
        “Offer Received”
      </li>
      <li>
        “Open House Reminder”
      </li>
      <li>
        “New Incentive”
      </li>
      <li>
        “Only 10 Units Remaining”
      </li>
      <li>
        “Building 75% Sold Out” </li></ul></div>

</div>
