
<footer id='footer'>
  <% if user_signed_in?%>
      <div class="swagbarspacer" style="background: none;"></div>
  <% else %>
  <div class="swagbar"></div>
  <div class="swagbarspacer"></div>
  <% end %>
  <!--<hr>-->
	<div class='align-right copyright'>
	</div>
  <div class='small-10 small-offset-1 medium-4 medium-offset-4 text-center'>
    <ul class="small-block-grid-4">
      <li><a href="/about">About</a></li>
      <li><a href="/legal">Legal</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/investors">Investors</a></li>
      <li><a href="/brokers">Brokers</a></li>
    </ul>
	</div>
</footer>
